<div class="container text-center">
<h1>Your booking has been confirmed!</h1>
<br>
<h3><b> <%= @booking.bike.name %> </b></h3>
<br>
<h4>Your order is from <%= @booking.start_date %> to <%= @booking.end_date %> for <b><%= @booking_amount %>€</b></h4>
<br>
<h4>You can collect the bike at the following address: <b><%= @booking.bike.address %></b></h4>
<br>
<h4>The owner of the bike will be in touch soon!</h5>
<br>
<h4> Have a nice ride! The Bikey Team </h5>
</div>
<br>

<div class="container text-center">
<%= link_to("See all your Bookings", bookings_path, class: "btn btn-warning text-center") %>
</div>
