<div class="search-wagon">
  <!-- Logo -->


  <%=  simple_form_for :bike, url: bikes_path, method: 'GET', :html => { :class => 'form-inline' } do |f|  %>
    <%= f.input :start_date, placeholder: 'Start Date', label: false %>
    <%= f.input :end_date, placeholder: 'End Date', label: false %>
    <%= f.submit "Filter", class: "btn btn-default" %>
<% end %>


<div class="btn-group" role="group" aria-label="...">
  <%= link_to('Change City / Date', root_path, class: "btn btn-default") %>
</div>


</div>





  <div class="field">
    <%= form.label :category %>
    <%= form.collection_select :category, id: :dose_description %>
  </div>

  <div class="field">
    <%= form.label :ingredient_id %>
    <%= form.collection_select :ingredient_id, Ingredient.all, :id, :name  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
