<div class="main-container">
  <div class="card-container">
    <div class="row">
      <% @bikes.each do |bike| %>
      <div class="col-xs-12 col-md-6 wrapper"><% link_to bike_path(bike.id) %>
        <div class="card">
          <div class="card-image"><%= image_tag 'https://kitt.lewagon.com/placeholder/cities/shanghai' %></div>
          <div class="card-category"><%= bike.price_by_day %>€ per day</div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        </div>
        <div class="card-footer">
          <h5><%= link_to(bike.name, bike_path(bike.id)) %></h5>
          <h6><%= bike.category.capitalize %></h6>
          <p><%= bike.address %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div id="map"></div>
</div>



