<div class="container text-center">
  <h1> Check out your bikes</h1>
  <br>
  <div class="bikes-container">
    <% @bikes.each do |bike| %>
    <%= link_to bike_path(bike) do %>
    <div class="bike">
      <%= cl_image_tag bike.photo.path, class: "bike-image" %>
      <div class='bike-body text-left'>
        <h3><%= bike.name %></h3>
        <p><%= bike.description %></p>
        <p>From  <em><%= bike.start_date %></em> to <em><%= bike.end_date %></em></p>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>

  <br>
  <br>
  <div>
    <%= link_to("Add another offer!", new_bike_path, class: "btn btn-warning") %>
  </div>
</div>
