<div class="container" style="text-align:center;">
  <div class="main-container">
    <div id="bike-photo">
      <% if @bike.photo? %>
      <%= cl_image_tag @bike.photo.path, width: 400, crop: :fill %>
      <% end %>
    </div>
    <div class="bike-description">
      <h2><%= @bike.name %></h2>
      <p><%= @bike.description %></p>
      <p><%= @bike.category %></p>
      <p><%= @bike.address %></p>
      <p><%= @bike.city %></p>
      <p><%= @bike.price_by_day %></p>
      <%= link_to("Back", bikes_path, class: "btn btn-warning") %>
    </div>
    <br>
    <br>

  </div>
</div>
